<div class="panel panel-primary">

    <div class="panel-heading">
        <h3 class="panel-title">
            {{ 'about.title.description' | translate }}
        </h3>
    </div>

    <div class="panel-body">

        <table class="table wrapAllowed">
            <tbody>
                <tr>
                    <td>{{ 'about.title.version' | translate }}</td>
                    <td><strong>{{ title }}</strong></td>
                </tr>
                <tr>
                    <td>Twitter Bootstrap</td>
                    <td><strong>v4-alpha</strong></td>
                  </tr>
                <tr>
                  <td>Angular</td>
                  <td><strong>4.3.6</strong></td>
                </tr>
                <tr>
                    <td>{{ 'about.title.copyright' | translate }}</td>
                    <td><strong>None</strong></td>
                </tr>
                <tr>
                    <td>{{ 'about.title.opensource' | translate }}</td>
                    <td style="white-space: normal;">
                        {{ 'about.opensource.notice' | translate }}
                        <ul>
                            <li><a href="http://www.gnu.org/licenses/lgpl-3.0.en.html">GNU Lesser General Public License Version 3</a></li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
