<div class="row justify-content-md-center">
  <div class="col-12 col-md-8 col-xl-6 mb-4">
    <div class="card border-light shadow-sm card-first">
      <div class="card-body">
        <h3>{{ 'menu.contacts' | translate }}</h3>

        <p *ngIf="lang == 'fr'">Vous avez un mandat potentiel requérant l'expertise de A.M. Web Expert Inc. ?</p>
        <p *ngIf="lang == 'en'">You have a potential mandate requiring our expertise?</p>

        <table class="table">
          <tbody>
            <tr>
              <td><span class="fa fa-phone text-success" aria-hidden="true"></span></td>
              <td><strong><a class="link-to-project" href="tel:514-928-7658">514-928-7658</a></strong></td>
            </tr>
            <tr>
              <td><span class="fa fa-comments text-success" aria-hidden="true"></span></td>
              <td><strong><a class="link-to-project" href="https://chroniquedundev.wordpress.com/">Chroniques d'un dev</a></strong></td>
            </tr>
            <tr>
              <td><span class="fa fa-envelope text-success" aria-hidden="true"></span></td>
              <td><strong><a class="link-to-project" href="mailto:amwebexpert@gmail.com">amwebexpert@gmail.com</a></strong></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
