<nav class="navbar navbar-dark navbar-theme-primary px-4 col-12 d-md-none">
  <a class="navbar-brand me-lg-5" href="index.html">
    <img
      class="navbar-brand-dark"
      src="/resume-template/assets/img/brand/light.svg"
      alt="{{appTitleVersion}}"
      title="{{appTitleVersion}}"
    />
    <img
      class="navbar-brand-light"
      src="/resume-template/assets/img/brand/dark.svg"
      alt="{{appTitleVersion}}"
      title="{{appTitleVersion}}"
    />
  </a>
  <div class="d-flex align-items-center">
    <button
      class="navbar-toggler d-md-none collapsed"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#sidebarMenu"
      aria-controls="sidebarMenu"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

<nav
  id="sidebarMenu"
  class="sidebar d-md-block bg-dark text-white collapse"
  data-simplebar
>
  <div class="sidebar-inner px-4 pt-3">
    <div
      class="user-card d-flex d-md-none align-items-center justify-content-between justify-content-md-center pb-4"
    >
      <div class="d-flex align-items-center">
        <div class="user-avatar lg-avatar me-4">
          <img
            src="/resume-template/assets/img/team/profile-picture-3.jpg"
            class="card-img-top rounded-circle border-white"
            alt="{{authorName}}"
            title="{{authorName}}"
          />
        </div>
        <div class="d-block">
          <h2 class="h6">{{authorName}}</h2>
        </div>
      </div>
      <div class="collapse-close d-md-none">
        <a
          href="#sidebarMenu"
          class="fas fa-times"
          data-bs-toggle="collapse"
          data-bs-target="#sidebarMenu"
          aria-controls="sidebarMenu"
          aria-expanded="true"
          aria-label="Toggle navigation"
        ></a>
      </div>
    </div>
    <ul class="nav flex-column pt-3 pt-md-0">
      <li class="nav-item">
        <a href="index.html" class="nav-link d-flex align-items-center">
          <span class="sidebar-icon">
            <img
              src="/resume-template/assets/img/brand/light.svg"
              height="20"
              width="20"
              alt="{{appTitleVersion}}"
              title="{{appTitleVersion}}"
            />
          </span>
          <span class="mt-1 ms-1 sidebar-text">Resume Overview</span>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a data-bs-toggle="collapse" data-bs-target="#sidebarMenu" routerLink="/home" class="nav-link">
          <span class="sidebar-icon"><span class="fas fa-home"></span></span>
          <span class="sidebar-text">{{ 'menu.home' | translate }}</span>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a data-bs-toggle="collapse" data-bs-target="#sidebarMenu" routerLink="/certifs" class="nav-link">
          <span class="sidebar-icon"><span class="fas fa-graduation-cap"></span></span>
          <span class="sidebar-text">{{ 'menu.certifications' | translate }}</span>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a data-bs-toggle="collapse" data-bs-target="#sidebarMenu" routerLink="/technologies" class="nav-link">
          <span class="sidebar-icon"><span class="fas fa-book"></span></span>
          <span class="sidebar-text">{{ 'menu.technologies' | translate }}</span>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a data-bs-toggle="collapse" data-bs-target="#sidebarMenu" routerLink="/members" class="nav-link">
          <span class="sidebar-icon"><span class="fas fa-user"></span></span>
          <span class="sidebar-text">{{ 'menu.members' | translate }}</span>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a data-bs-toggle="collapse" data-bs-target="#sidebarMenu" routerLink="/achievements" class="nav-link">
          <span class="sidebar-icon"><span class="fas fa-check-circle"></span></span>
          <span class="sidebar-text">{{ 'menu.achievements' | translate }}</span>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a data-bs-toggle="collapse" data-bs-target="#sidebarMenu" routerLink="/demos" class="nav-link">
          <span class="sidebar-icon"><span class="fas fa-car"></span></span>
          <span class="sidebar-text">{{ 'menu.demos' | translate }}</span>
        </a>
      </li>

      <li role="separator" class="dropdown-divider mt-4 mb-3 border-black"></li>

      <li class="nav-item" title="My open source Github project">
        <a
          href="https://amwebexpert.github.io/etoolbox"
          class="btn btn-secondary d-flex align-items-center justify-content-center btn-upgrade-pro"
        >
          <span class="sidebar-icon"
            ><span class="fas fa-box me-2"></span
          ></span>
          <span>WebToolbox App</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
