<div class="alert alert-success" role="alert">

  <h3>{{ 'menu.technologies' | translate }}</h3>

  <div *ngIf="lang == 'fr'">
    <p>Les technologies évoluent sans cesse et l'expérience est la somme de l'accumulation des connaissances d'une équipe d'experts.
      <br> Sans être exhaustif, les technologies suivantes font partie intégrante des compétences acquises au fil des années
      par André.
    </p>
  </div>

  <div *ngIf="lang == 'en'">
    <p>Technologies are constantly evolving and experience is the sum of the accumulated knowledge of a team of experts.
      <br> Without being exhaustive, the following technologies are an integral part of the skills acquired over the years
      by André.
    </p>
  </div>

</div>

<div class="row">
  <div class="col-md-4">
    <h3 *ngIf="lang == 'fr'">Langages de programmation</h3>
    <h3 *ngIf="lang == 'en'">Programming languages</h3>
    <ul>
      <li>Kotlin / JAVA / JEE / Android</li>
      <li>Typescript, JavaScript, Lisp, Groovy</li>
      <li>Transact-SQL (SQL Server, Sybase), PL/SQL (Oracle)</li>
      <li>Perl, UNIX Shell Scripts (sh, ksh)</li>
    </ul>
  </div>
  <div class="col-md-4">
    <h3 *ngIf="lang == 'fr'">Outils de développement</h3>
    <h3 *ngIf="lang == 'en'">Development tools</h3>
    <ul>
      <li>VSCode, IntelliJ IDE, Eclipse, BEA Workshop, WebSphere RAD</li>
      <li>Maven, Jenkins, Sonar, Artifactory, jUnit 5</li>
      <li>Git, Github, Bitbucket, Mercurial, IBM RTC</li>
    </ul>
  </div>
  <div class="col-md-4">
    <h3 *ngIf="lang == 'fr'">Serveurs applicatifs</h3>
    <h3 *ngIf="lang == 'en'">Webapp servers</h3>
    <ul>
      <li>WebLogic, WebSphere, iPlanet, Sun One</li>
      <li>Open Source: JBoss, Tomcat, Jetty, NanoHTTPD</li>
      <li>WAMP: PHP, MySQL, Apache</li>
    </ul>
  </div>
</div>
<!-- row -->

<div class="row">
  <div class="col-md-4">
    <h3 *ngIf="lang == 'fr'">Systèmes d'exploitation</h3>
    <h3 *ngIf="lang == 'en'">Operating systems</h3>
    <ul>
      <li>UNIX Solaris</li>
      <li>Linux, CentOS</li>
      <li>Windows 7, 10</li>
    </ul>
  </div>
  <div class="col-md-4">
    <h3 *ngIf="lang == 'fr'">Interfaces utilisateur (UI)</h3>
    <h3 *ngIf="lang == 'en'">User interface (UI)</h3>
    <ul>
      <li>HTML5, CSS3, SCSS, Twitter Bootstrap 4.x</li>
      <li>Angular 8.x, @ngrx/store, Jasmine, Karma</li>
      <li>React 16.x, Redux, typescript-ioc, Jest</li>
    </ul>
  </div>
  <div class="col-md-4">
    <h3 *ngIf="lang == 'fr'">Outils / Frameworks</h3>
    <h3 *ngIf="lang == 'en'">Tools & frameworks</h3>
    <ul>
      <li>Swagger, Postman, SoapUI, Selenium</li>
      <li>PgAdmin, SQuirreL SQL, AquaData Studio, TOAD, MySQL</li>
      <li>Spring - Boot, Data, REST, JPA, Security</li>
    </ul>
  </div>
</div>
<!-- row -->

<div class="row">
  <div class="col-md-4">
    <h3 *ngIf="lang == 'fr'">Bases de données</h3>
    <h3 *ngIf="lang == 'en'">Databases (DBMS)</h3>
    <ul>
      <li>Oracle</li>
      <li>PosgreSQL</li>
      <li>Sybase</li>
      <li>DB2</li>
      <li>SQLite</li>
      <li>Microsoft SQL Server</li>
      <li>MySQL, H2, HSQLDB</li>
    </ul>
  </div>
  <div class="col-md-4">
    <h3 *ngIf="lang == 'fr'">Diverses technologies</h3>
    <h3 *ngIf="lang == 'en'">Other technologies</h3>
    <ul>
      <li>PCF (Pivotal Cloud Foundry), Concourse</li>
      <li>Google Cloud, GAE Datastore, Objectify, Google Spreadsheet API</li>
      <li>Angular 8.x, React 16.x, Redux, jQuery Mobile, PhoneGap</li>
      <li>Twitter Bootstrap 4.x, Ajax, Json, HTML5/CSS3, jQuery</li>
      <li>SOA Web Services, JAX-RS, Apache CXF, SOAP, Axis, Spring WS</li>
      <li>OAuth2, Hateoas, Apache Camel, JPA2, Hibernate, Spring, JDBC</li>
      <li>EJB, Tiles, Spring MVC, Spring Rest, Spring Boot</li>
      <li>Servlet API, Spring JDBC, JSP, JMS</li>
      <li>XML, X-Path, FOP, JasperReport, iText & OpenPDF, Schemas, XSLT</li>
      <li>jChart API, Apache POI, BeanShell API, RxJS</li>
    </ul>
  </div>
</div>
<!-- row -->
