<div class="row justify-content-md-center">
  <div class="col-12 col-md-6 col-xl-4 mb-4">
    <div class="card border-light shadow-sm card-first">
      <div class="card-body">
        <h3>{{ "menu.demos" | translate }}</h3>

        <ul>
          <li>
            <a href="https://www.npmjs.com/package/ngx-spinner">NgxSpinner</a>
          </li>
          <li>Angular Service, HttpClient</li>
          <li>GitHub REST Api</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        placeholder="{{ 'poc.usernameGithub' | translate }}"
        [disabled]="isSearching"
        (keydown.enter)="refreshProjects()"
        [(ngModel)]="username"
        #ctrl="ngModel"
      />
      <span class="input-group-text" (click)="refreshProjects()"
        ><span class="fas fa-search"></span
      ></span>
    </div>
  </div>
  <div class="col-md-6 text-right">
    {{ projects?.length }}
  </div>

  <div class="col-md-12 table-responsive search-results">
    <table class="table table-centered table-nowrap table-striped table-hover mb-0 rounded">
      <thead class="thead-light">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let project of projects" id="{{ project.id }}">
          <td>
            <a href="{{ project.html_url }}" class="link-to-project">{{ project.name }}</a>
          </td>
          <td>{{ project.description }}</td>
        </tr>
      </tbody>
    </table>

    <ngx-spinner
      name="demo-spinner"
      [fullScreen]="false"
      bdColor="rgba(20,20,20,0.3)"
      size="medium"
      color="#168A4D"
      type="ball-clip-rotate"
    >
      <p *ngIf="lang == 'fr'" class="loading">Chargement...</p>
      <p *ngIf="lang == 'en'" class="loading">Loading...</p>
    </ngx-spinner>
  </div>
</div>
