.android-app {
  margin-top: 10px;
}

.android-app-icon {
  margin-right: 10px;
  height: 32px;
  width: 32px;
}

.android-app-list {
  list-style: none;
  padding-left: 0;
}

.link-to-project {
  color: #262B40;
  text-decoration: underline;
}

.list-group-item {
  border-bottom: 1px solid lightgrey;
}

h4 {
  display: inline-block;
}

small {
  display: block;
  margin-left: 42px;
}
