<div class="row justify-content-md-center">
  <div class="col-12 col-md-8 col-xl-6 mb-4">
    <div class="card border-light shadow-sm card-first">
      <div class="card-body">
        <h2>{{ "menu.achievements" | translate }}</h2>

        <div *ngIf="lang == 'fr'">
          <p>
            L'expertise de A.M. Web Expert Inc. a permit de livrer plusieurs
            projets de grande envergure et également de réaliser des
            applications mobiles distribuées à des centaine de milliers
            d'utilisateurs.
          </p>
        </div>

        <div *ngIf="lang == 'en'">
          <p>
            The expertise of A.M. Web Expert Inc. has enabled us to deliver
            several large-scale projects and mobile applications distributed to
            hundreds of thousands of users.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-md-center">
  <div class="col-12 col-sm-6 col-xl-4 mb-4">
    <div class="card border-light shadow-sm">
      <div class="card-body">
        <a class="link-to-project" href="https://accesd.desjardins.com/"
          >Desjardins</a
        >
        <ul *ngIf="lang == 'fr'">
          <li>Acquisition de Fonds et PGLM sur AccesD</li>
          <li>Envoie électronique sur AccesD & NEI</li>
          <li>Infrastructures d'entreprise N3</li>
        </ul>
        <ul *ngIf="lang == 'en'">
          <li>AccesD platform Funds & PGLM management</li>
          <li>AccesD platform electronic documents & NEI</li>
          <li>N3 enterprise frameworks</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-xl-4 mb-4">
    <div class="card border-light shadow-sm">
      <div class="card-body">
        <a class="link-to-project" href="http://www.cyberpresse.ca/"
          >La presse</a
        >
        <ul *ngIf="lang == 'fr'">
          <li>
            Module Java pour la communication avec Météo Média pour la
            récupération des données
          </li>
          <li>
            Module de fusionnement automatisé des mod&#232;les d'affichage des
            statistiques météos
          </li>
        </ul>
        <ul *ngIf="lang == 'en'">
          <li>Java FTP module for retrieving Météo Média core data</li>
          <li>Weather templates for displaying statistics</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-xl-4 mb-4">
    <div class="card border-light shadow-sm">
      <div class="card-body">
        <a class="link-to-project" href="http://www.armm.ca">ARMM</a>
        <ul>
          <li>Drug research module</li>
          <li>Membership management screens</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-md-center">
  <div class="col-12 col-sm-6 col-xl-4 mb-4">
    <div class="card border-light shadow-sm">
      <div class="card-body">
        <img
          src="/resume-template/assets/img/icon-guess-the-text.png"
          class="android-app-icon"
          height="24"
        />
        <a
          class="link-to-project"
          href="https://github.com/amwebexpert/guess_the_text"
          >Guess the text (Open Source)</a
        >
        <ul *ngIf="lang == 'fr'">
          <li>Jeux de mots éducatifs</li>
          <li>Flutter, Dart, MobX, Sembast, sqflight, Node.js backend</li>
          <li>App native sur Linux, iPhone, Android</li>
        </ul>
        <ul *ngIf="lang == 'en'">
          <li>Word educational game app</li>
          <li>Flutter, Dart, MobX, Sembast, sqflight, Node.js backend</li>
          <li>Native app running on Linux, iPhone, Android</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-xl-4 mb-4">
    <div class="card border-light shadow-sm">
      <div class="card-body">
        <img
          src="https://amwebexpert.github.io/etoolbox/favicon.ico"
          class="android-app-icon"
          height="24"
        />
        <a
          class="link-to-project"
          href="https://amwebexpert.github.io/etoolbox/#/"
          >Web Toolbox (Open Source)</a
        >
        <ul>
          <li>
            Hosted on
            <a
              class="link-to-project"
              href="https://github.com/amwebexpert/etoolbox"
              >GitHub</a
            >
          </li>
          <li>Collection of web developer tools</li>
          <li>ReactJS, Typescript, Redux, Saga, Material-UI, Electron</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-xl-4 mb-4">
    <div class="card border-light shadow-sm">
      <div class="card-body">
        <span
          class="fa fa-graduation-cap fa-2 android-app-icon text-info"
          aria-hidden="true"
        ></span>
        <a
          class="link-to-project"
          href="https://amwebexpert.github.io/etoolbox/#/"
          >Resume template</a
        >
        <ul>
          <li>
            Open Source project hosted on
            <a
              class="link-to-project"
              href="https://github.com/amwebexpert/resume-template"
              >GitHub</a
            >
          </li>
          <li>Responsive resume template for developers</li>
          <li>Angular, Twitter Bootstrap, Typescript</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 mb-4">
    <div class="card shadow-sm">
      <div class="card-header border-bottom border-gray-300">
        <h2 class="h5 mb-0">
          <a href="https://developer.android.com/"
            >Android applications - Google Play</a
          >
        </h2>
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush list my--3">
          <li class="list-group-item px-0">
            <div class="row align-items-center">
              <div class="col-12 col-md-9 col-sm-12">
                <img
                  src="/resume-template/assets/img/icon-guess-the-text.png"
                  class="android-app-icon"
                />
                <h4 class="h6 mb-0">Guess the text</h4>
                <small *ngIf="lang == 'en'">Free mobile application to learn a language, also known as "Hangman". Created using Flutter.

                  The goal is to try to guess the word or sentence one letter at a time. In the first release, a list of 3 categories is available for learning French language, but this list will be enhanced over time.

                  You can play with friends as a menu entry allows to enter any word on the fly that has to be guessed by another player!</small>
                <small *ngIf="lang == 'fr'"> Application éducative développée avec Flutter.
                  Devinettes divisées en catégories pour apprendre une langue comme le français, divisées en catégories. Pour l'instant les catégories disponibles sont: animaux, transports, couleurs. Vous pouvez également jouer entre amis car une entrée de menu permet de saisir n'importe quel mot à la volée qui doit être deviné par un autre joueur !
                </small>
              </div>
              <div class="col-12 col-md-3 col-sm-12 text-center">
                <a
                  class="btn btn-sm btn-secondary"
                  target="_blank"
                  href="https://play.google.com/store/apps/details?id=com.amwebexpert.app.guessthetext.guess_the_text"
                  >Guess the text</a
                >
              </div>
            </div>
          </li>
          <li class="list-group-item px-0">
            <div class="row align-items-center">
              <div class="col-12 col-md-9 col-sm-12">
                <img
                  src="/resume-template/assets/img/icon-csv.png"
                  class="android-app-icon"
                />
                <h4 class="h6 mb-0">CSV Viewer</h4>
                <small *ngIf="lang == 'en'">Comma separated value text file parser and viewer. Created using React-Native.
                  Usualy these files have a lot of lines and columns. A comma-separated values file is a delimited text file that uses a comma to separate values. Each line of the file is a data record. Each record consists of one or more fields, separated by commas. The use of the comma as a field separator is the source of the name for this file format.</small>
                <small *ngIf="lang == 'fr'">
                  Visionneuse de fichiers CSV développée en React-Native Permet de décortiquer et de visualiser les données de fichiers CSV.
                </small>
              </div>
              <div class="col-12 col-md-3 col-sm-12 text-center">
                <a
                  class="btn btn-sm btn-secondary"
                  target="_blank"
                  href="https://play.google.com/store/apps/details?id=com.devine.app.mobile"
                  >CSV Viewer</a
                >
              </div>
            </div>
          </li>
          <li class="list-group-item px-0">
            <div class="row align-items-center">
              <div class="col-12 col-md-9 col-sm-12">
                <img
                  src="/resume-template/assets/img/icon-ecell.png"
                  class="android-app-icon"
                />
                <h4 class="h6 mb-0">e-Droid-Cell Pro</h4>
                <small *ngIf="lang == 'en'"
                  >Edit your spreadsheets on the go with one of the most user
                  friendly editor for Microsoft Excel files (100% Excel
                  compatible). Offers powerful data computation with support for
                  124 Excel functions, Drop Down List support (select values
                  from a predefined list), cell, number and dates formatting,
                  row and column sizes, filters, sorting, cut, copy, paste,
                  undo, charting, exporting as PDF, etc.</small
                >
                <small *ngIf="lang == 'fr'">
                  Chiffrier compatible Excel pour votre appareil Android avec
                  plus de 120 fonctions (formules) Excel supportées.
                </small>
              </div>
              <div class="col-12 col-md-3 col-sm-12 text-center">
                <a
                  class="btn btn-sm btn-secondary"
                  target="_blank"
                  href="https://play.google.com/store/apps/details?id=com.j2eeknowledge.viewer.excel.pro"
                  >e-Droid-Cell Pro</a
                >
              </div>
            </div>
          </li>
          <li class="list-group-item px-0">
            <div class="row align-items-center">
              <div class="col-12 col-md-9 col-sm-12">
                <img
                  src="/resume-template/assets/img/icon-wireless-copy-paste.png"
                  class="android-app-icon"
                />
                <h4 class="h6 mb-0">Wireless CopyPaste</h4>
                <small *ngIf="lang == 'en'"
                  >This application allows you to manage and share files between
                  android devices through Bluetooth and Wi-Fi Direct protocols.
                  Features: copy, paste, delete multiple items using the file
                  manager from device A to device B</small
                >
                <small *ngIf="lang == 'fr'">
                  Cette application vous permet de gérer et de partager des
                  fichiers entre des appareils Android via les protocoles
                  Bluetooth et Wi-Fi Direct. Instructions: installez simplement
                  l'application sur tous vos appareils compatibles Android
                  Bluetooth et Wi-Fi Direct! Pour Wi-Fi Direct, veuillez appuyer
                  sur le bouton Aide [?] Sur la page Wi-Fi! Caractéristiques: -
                  copier, coller, supprimer plusieurs éléments à l'aide du
                  gestionnaire de fichiers du périphérique A vers le
                  périphérique B - copiez et collez plusieurs dossiers avec
                  toute leur structure de fichiers - le gestionnaire de fichiers
                  classique vous permet de créer des dossiers, de renommer ou de
                  supprimer des fichiers d'appareils connectés
                </small>
              </div>
              <div class="col-12 col-md-3 col-sm-12 text-center">
                <a
                  class="btn btn-sm btn-secondary"
                  target="_blank"
                  href="https://play.google.com/store/apps/details?id=com.amwebexpert.btfm"
                  >Wireless CopyPaste</a
                >
              </div>
            </div>
          </li>
          <li class="list-group-item px-0">
            <div class="row align-items-center">
              <div class="col-12 col-md-9 col-sm-12">
                <img src="/resume-template/assets/img/icon-calc.png" class="android-app-icon" />
                <h4 class="h6 mb-0">Calculator Mem Pro</h4>
                <small *ngIf="lang == 'en'"
                  >Easy-to-use calculator that includes the history of its usage
                  (virtual tape, a.k.a. ticker tape style). Customize your
                  caculator by setting the numeric font size, numeric pad color,
                  digits color, operations pad font size, operations pad color
                  and digit font. Configure the number of decimals, and toggle
                  the haptic feedback, special character usage, and memory
                  functions (M+, M-...)
                </small>
                <small *ngIf="lang == 'fr'">
                  Simple calculatrice conservant l'historique de toutes les
                  opérations, au fur et à mesure que l'on fait des calculs.
                  Plusieurs manières d'exporter les résultats de l'historique
                  (copie dans le presse-papier, écriture dans un fichier sur la
                  carte SD, courriel, etc.) Mode multi-fenêtre disponible pour
                  votre Samsung Galaxy Note ! Cette version gratuite affiche une
                  banière publicitaire et certaines fonctionnalités ne sont pas
                  complètement disponible (tel la possibilité de modifier un
                  résultat de l'historique et de recalculer tout le reste des
                  l'historique automatiquement). Personnalisable à souhait:
                  modifiez les couleurs des boutons d'opérations, des boutons
                  des chiffres, changer le modèle d'affichage, la taille du
                  lettrage, la hauteur du panneau d'historique des calculs, etc.
                  Tutoriels en ligne:
                  http://www.youtube.com/playlist?list=PL6A4F38BB80BDC248
                  Fonctions disponibles: - M+, M-, MR, MS... - Calcul du
                  pourcentage pratique pour les pourboires et les taxes - Le
                  mode vibration sur les touches peut être désactivé - Peut
                  arrondir les calculs au nombre de décimales choisi - Augmentez
                  la taille des chiffres et opérations pour une meilleure vision
                  - Mode paysage et portrait supportés - L'historique des
                  calculs est conservé le temps que vous voulez (même si vous
                  redémarrez votre appareil) - Et beaucoup plus !
                </small>
              </div>
              <div class="col-12 col-md-3 col-sm-12 text-center">
                <a
                  class="btn btn-sm btn-secondary"
                  target="_blank"
                  href="https://play.google.com/store/apps/details?id=com.j2eeknowledge.calc"
                  >Calculator Mem Pro</a
                >
              </div>
            </div>
          </li>
          <li class="list-group-item px-0">
            <div class="row align-items-center">
              <div class="col-12 col-md-9 col-sm-12">
                <img
                  src="/resume-template/assets/img/icon-alert.png"
                  class="android-app-icon"
                />
                <h4 class="h6 mb-0">Alert Responder</h4>
                <small *ngIf="lang == 'en'"
                  >WARNING: Alert Responder is not a replacement of emergency
                  calls like 911. This is only a tool among others to help you
                  keep in touch with people in case of emergency or any other
                  situations. Send SMS magic sentence and get back a simple
                  feedback: OK or HELP and optionaly the GPS location (latitude
                  and longitude).
                </small>
                <small *ngIf="lang == 'fr'">
                  Alert Responder ne remplace pas les appels d'urgence comme le
                  911. Ce n'est qu'un outil parmi d'autres pour vous aider à
                  rester en contact avec les gens en cas d'urgence ou de toute
                  autre situation. Envoyez une phrase magique par SMS et obtenez
                  un retour simple: OK ou AIDE et éventuellement la position GPS
                  (latitude et longitude).
                </small>
              </div>
              <div class="col-12 col-md-3 col-sm-12 text-center">
                <a
                  class="btn btn-sm btn-secondary"
                  target="_blank"
                  href="https://play.google.com/store/apps/details?id=com.amwebexpert.atracker"
                  >Alert Responder</a
                >
              </div>
            </div>
          </li>
          <li class="list-group-item px-0">
            <div class="row align-items-center">
              <div class="col-12 col-md-9 col-sm-12">
                <img
                  src="/resume-template/assets/img/icon-tipcalc.png"
                  class="android-app-icon"
                />
                <h4 class="h6 mb-0">Tip Calculator</h4>
                <small *ngIf="lang == 'en'"
                  >Split bill into many people, round feature, reverse
                  calculation of taxes, tip can be applied to the amount before
                  taxes, share calculation results, export report to Google
                  Drive / DropBox / Email, save report onto your SDcard</small
                >
                <small *ngIf="lang == 'fr'">
                  Fonctionalités : - séparez la facture entre plusieurs invités
                  - arrondissment en ajustant le pourboire pour éviter les cents
                  - si le montant inclu déjà les taxes, l'application peut les
                  recalculer - le pourboire peut être calculé sur le montant
                  AVANT TAXES - partagez le rapport final dans DropBox, Gmail,
                  Google Drive, etc. - sauvegardez sur votre carte SD - et bien
                  plus... Étant donné qu'il s'agit d'une version beta, n'hésitez
                  surtout pas à émettre vos commentaires et suggestons à
                  [amwebexpert@gmail.com]. Le menu de l'application contient
                  l'élément "Feedbacks" vous permettant de composer vos
                  commentaires directement dans un courriel pré-adressé. Bon
                  repas !
                </small>
              </div>
              <div class="col-12 col-md-3 col-sm-12 text-center">
                <a
                  class="btn btn-sm btn-secondary"
                  target="_blank"
                  href="https://play.google.com/store/apps/details?id=com.j2eeknowledge.percent.beta"
                  >Tip Calculator</a
                >
              </div>
            </div>
          </li>
          <li class="list-group-item px-0">
            <div class="row align-items-center">
              <div class="col-12 col-md-9 col-sm-12">
                <img
                  src="/resume-template/assets/img/icon-slavedevice.png"
                  class="android-app-icon"
                />
                <h4 class="h6 mb-0">Slave Device</h4>
                <small *ngIf="lang == 'en'"
                  >Wifi Slave Device allows you to make your device... a slave
                  of other devices!!! Wants to share files of your devices with
                  a computer? Needs to share pictures of your devices with an
                  iPhone? You have Office documents on your SD card and want to
                  share it to a laptop? Only requirement: all devices must be
                  connected to the same wifi
                </small>
                <small *ngIf="lang == 'fr'">
                  Wifi Slave Device vous permet de.... rendre votre appareil
                  esclave des autres appareils ! Vous désirez partager vos
                  fichiers avec votre ordinateur ? Vous avez besoin de
                  transférer vos photos vers un iPhone ? Vous documents Office
                  sont sur votre carte SD et vous désirez les partager avec
                  d'autres utilisateurs ? Le seul prérequis est le suivant: les
                  appareils doivent être connectés au même réseau Wifi Simple...
                  1) Démarrez le service. Votre appareil est maintenant un
                  "esclave" 2) Envoyez le lien de connection (par courriel ou
                  SMS) à un autre appareil (iPhone, ordinateur portable,
                  téléphone Android...) C'est tout ! Le second appareil peut
                  maintenant voir l'appareil "esclave" et naviguer sur sa carte
                  SD !
                </small>
              </div>
              <div class="col-12 col-md-3 col-sm-12 text-center">
                <a
                  class="btn btn-sm btn-secondary"
                  target="_blank"
                  href="https://play.google.com/store/apps/details?id=com.amwebexpert.slavedevice.pro"
                  >Slave Device</a
                >
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
