<div class="row">
  <div class="col-12 col-md-5 col-sm-12">
    <div class="card border-light shadow-sm">
      <div class="card-body">
        <h2>{{ "welcome.title" | translate }}</h2>
        <p>{{ "welcome.text" | translate }}</p>

        <div *ngIf="lang == 'fr'">
          <p>
            Mon objectif principal est d'assister les entreprise &#224;
            d&#233;velopper des applications permettant d'automatiser leurs
            processus d'affaires. Certaine de mes réalisations sont
            distribu&#233;es &#224; travers le monde sur des
            t&#233;l&#233;phones intelligents ainsi que des tablettes!
          </p>
          <p>Je crois...</p>
          <ul>
            <li>
              Que la qualité a toujours sa place dans la conception de logiciels
            </li>
            <li>Que des utilisateurs satisfaits sont une preuve de réussite</li>
            <li>
              Que le code source est question d'expérience, de compétence et de
              discipline
            </li>
          </ul>
        </div>

        <div *ngIf="lang == 'en'">
          <p>
            My main objective is to help companies develop applications to
            automate their business processes. Some of my applications are
            distributed around the world on smart phones and tablets!
          </p>
          <p>I believe...</p>
          <ul>
            <li>That best coding practices promote maintainable and evolutive code</li>
            <li>
              That source code is about experience, competence and discipline
            </li>
            <li>
              That satisfied users are proof of successful application design
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-7 col-sm-12">
    <div class="card border-light shadow-sm">
      <div class="card-body">
        <h2 *ngIf="lang == 'fr'">Développement mobile et natif</h2>
        <h2 *ngIf="lang == 'en'">Mobile & Native development</h2>

        <div *ngIf="lang == 'fr'">
          <p>Spécialisation mobile (Flutter et react-native)</p>
          <ul>
            <li>architecture technique de l'app, design de solution et développement actif</li>
            <li>mise en place de l'aspect sécurité: authentification et autorisation OAuth 2</li>
            <li>conception d'écrans et d'animations, thème, typographie, dark mode, préférences, persistance locale</li>
            <li>tests unitaires et behaviorals automatisés, tests end to end, rapport de couverture de code</li>
            <li>structure evolutive du code source, choix des libraires open source</li>
            <li>intégration des API Rest et/ou GraphQL</li>
            <li>ingestion de dépendances IoC dans l'app </li>
            <li>mise en place des bonnes pratiques, guide de développement, revues de code, sessions de formations </li>
            <li>automatisation des builds, outils de génération de code pour intégrer aux API existants</li>
            <li>mise en place d'une solution de feature flags, intégration au monitoring de production</li>
          </ul>
        </div>
        <div *ngIf="lang == 'en'">
          <p>Mobile first specialization (Flutter & react-native)</p>
          <ul>
            <li>app technical architecture, solution design and active development</li>
            <li>implementation of the security aspect: OAuth 2 authentication and authorization</li>
            <li>screen and animation design, theme, typography, dark mode, preferences, local persistence</li>
            <li>automated unit and behavioral tests, end to end tests, code coverage report</li>
            <li>evolutive structure of the source code, choice of open source libraries</li>
            <li>integration of Rest and/or GraphQL APIs</li>
            <li>dependencies injections pattern (IoC) for the whole application</li>
            <li>implementation of best practices, development guide, code reviews, training sessions</li>
            <li>build automation, code generation tools to integrate with existing APIs</li>
            <li>implementation of feature flags solution, integration into production monitoring</li>
          </ul>
        </div>
      </div>
  </div>
  </div>
</div>

<div class="row justify-content-md-center">
  <div class="col-12 col-sm-6 col-xl-4 mb-4">
    <div class="card border-light shadow-sm">
      <div class="card-body">
        <div class="row d-block d-xl-flex align-items-center">
          <div
            class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center"
          >
            <div class="ct-chart-traffic-share ct-golden-section ct-series-a">
              <div class="chartist-tooltip"></div>
              <a
                title="Android"
                href="https://play.google.com/store/apps/developer?id=A.M.+Web+Expert+Inc."
                ><img class="center-block" src="/resume-template/assets/img/droid.png"
              /></a>
              <a
                title="Flutter"
                href="https://flutter.dev/"
                ><img class="center-block" src="/resume-template/assets/img/flutter-logo.jpg"
              /></a>
            </div>
          </div>
          <div class="col-12 col-xl-7 px-xl-0">
            <h3>Mobile</h3>

            <p *ngIf="lang == 'fr'">Applications natives ou Responsive HTML</p>
            <p *ngIf="lang == 'en'">Natives app or Responsive webapps</p>
            <ul>
              <li>Flutter, React-Native</li>
              <li>iOS, Android</li>
              <li>Broadcast receivers</li>
              <li>Animations...</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-xl-4 mb-4">
    <div class="card border-light shadow-sm">
      <div class="card-body">
        <div class="row d-block d-xl-flex align-items-center">
          <div
            class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center"
          >
            <div class="ct-chart-traffic-share ct-golden-section ct-series-a">
              <div class="chartist-tooltip"></div>
              <a
                title="Spring Framework"
                href="http://www.springsource.org/spring-framework"
                ><img class="center-block" src="/resume-template/assets/img/spring.png"
              /></a>

              <a
                title="Windows - Apache - MySQL - PHP"
                href="http://www.wampserver.com/en/"
                ><img class="center-block" src="/resume-template/assets/img/wamp.png"
              /></a>
            </div>
          </div>
          <div class="col-12 col-xl-7 px-xl-0">
            <h3 *ngIf="lang == 'fr'">Sites web complets</h3>
            <h3 *ngIf="lang == 'en'">Full web sites</h3>

            <ul>
              <li>Kotlin, Spring Boot, Java EE</li>
              <li>JPA, Hibernate, Spring DATA</li>
              <li>MySQL, PostgreSQL, SQL Server, Oracle…</li>
              <li>Node.js, NestJS, Apache Web Server</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-xl-4 mb-4">
    <div class="card border-light shadow-sm">
      <div class="card-body">
        <div class="row d-block d-xl-flex align-items-center">
          <div
            class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center"
          >
            <div class="ct-chart-traffic-share ct-golden-section ct-series-a">
              <div class="chartist-tooltip"></div>
              <a title="ReactJS" href="https://reactjs.org/"
                ><img class="center-block" src="/resume-template/assets/img/react-logo.png"
              /></a>
              <a title="Angular" href="https://angular.io/"
                ><img class="center-block" src="/resume-template/assets/img/AngularJS.png"
              /></a>
            </div>
          </div>
          <div class="col-12 col-xl-7 px-xl-0">
            <h3 *ngIf="lang == 'fr'">Interfaces utilisateur</h3>
            <h3 *ngIf="lang == 'en'">User interfaces</h3>

            <ul>
              <li>Angular, RxJS, Typescript</li>
              <li>ReactJS, Redux, Saga, Thunk…</li>
              <li>Twitter Bootstrap, Material-UI</li>
              <li>React Native, Axios, React Query</li>
              <li>Core-UI, AdminLTE, Volt Dashboard</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
