<div class="alert alert-success" role="alert">

  <h2>{{ 'welcome.title' | translate }}</h2>
  <p>{{ 'welcome.text' | translate }}</p>

  <div *ngIf="lang == 'fr'">
    <p>Notre objectif principal est d'assister les entreprise &#224; d&#233;velopper des applications permettant
      d'automatiser
      leurs processus d'affaires. Certaine de nos applications sont distribu&#233;es &#224; travers le monde sur des
      t&#233;l&#233;phones
      intelligents ainsi que des tablettes!</p>
    <p>Nous croyons...</p>
    <ul>
      <li>Que la qualité a toujours sa place dans la conception de logiciels</li>
      <li>Que des utilisateurs satisfaits sont une preuve de réussite</li>
      <li>Que le code source est question d'expérience, de compétence et de discipline</li>
    </ul>
  </div>

  <div *ngIf="lang == 'en'">
    <p>Our main objective is to help companies develop applications to automate their business processes. Some of our
      applications
      are distributed around the world on smart phones and tablets!</p>
    <p>We believe...</p>
    <ul>
      <li>That satisfied users are proof of successful application design</li>
      <li>Que des utilisateurs satisfaits sont une preuve de réussite</li>
      <li>That source code is about experience, competence and discipline</li>
    </ul>
  </div>

</div>

<div class="row">
  <div class="col-md-4">
    <h3>Mobile</h3>

    <p *ngIf="lang == 'fr'">Applications natives ou Responsive HTML</p>
    <p *ngIf="lang == 'en'">Natives Android or Responsive webapps</p>
    <ul>
      <li>Widget</li>
      <li>Services</li>
      <li>Broadcast receivers</li>
      <li>Animations...</li>
    </ul>

    <div id="android_apps">
      <a title="Android" href="https://play.google.com/store/apps/developer?id=A.M.+Web+Expert+Inc."><img
          class="center-block" src="/assets/img/droid.png" /></a>
    </div>
  </div>

  <div class="col-md-4">
    <div>
      <a title="Spring Framework" href="http://www.springsource.org/spring-framework"><img class="center-block"
          src="/assets/img/spring.png" /></a>
    </div>

    <h3 *ngIf="lang == 'fr'">Sites web complets</h3>
    <h3 *ngIf="lang == 'en'">Full web sites</h3>

    <ul>
      <li>Angular, ReactJS (Single page apps)</li>
      <li>Kotlin, Java, PHP</li>
      <li>MySQL</li>
      <li>Apache Web Server</li>
    </ul>

    <div>
      <a title="Windows - Apache - MySQL - PHP" href="http://www.wampserver.com/en/"><img class="center-block"
          src="/assets/img/wamp.png" /></a>
    </div>
  </div>

  <div class="col-md-4">
    <h3>Web / Intranet</h3>

    <ul>
      <li><a href="https://rxjs-dev.firebaseapp.com/">RxJS</a></li>
      <li>Kotlin, Spring Boot, Java EE</li>
      <li>JPA, Hibernate, Spring DATA</li>
      <li>Angular, ReactJS, AJAX, jQuery Mobile</li>
      <li>Twitter Bootstrap, Responsive UI</li>
    </ul>

    <div>
      <a title="AngularJS" href="https://angular.io/"><img class="center-block" src="/assets/img/AngularJS.png" /></a>
    </div>
  </div>

</div>
